.catalog {

  // .catalog__inner

  &__inner {}

  // .catalog__main

  &__main {}

  &__filters {
    margin-bottom: 28px;
  }

  // .catalog__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;

    @media (min-width: 1600px) {
      grid-template-columns: repeat(auto-fill, 280px);
    }

    @media (max-width: $breakpoint1450) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1200px) {}

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint580) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__list {
    transition: 0.2s linear;



    &.view-6 {
      grid-template-columns: repeat(auto-fill, 186px) !important;

      column-gap: 10px;
      row-gap: 40px;

      .card__availability {
        padding: 4px;
        font-size: 12px;
      }

      .card__new {
        padding: 4px 10px;
        font-size: 12px;
      }

      .catalog__item {
        height: 280px;
        width: 190px;
      }

      .card__top {
        height: 240px;
      }

      .card__picture {
        height: 240px;
      }

      .card__img {
        height: 240px;
      }

      .card__bottom {
        padding: 10px 0;
      }

      .card__old-price {
        display: none;
      }

      .card__colors {
        display: none;
      }

      @media (max-width: $breakpoint580) {
        grid-template-columns: 1fr 1fr !important;

        .catalog__item {
          width: 100%;
        }

        .card__name {
          font-size: 12px;
        }

        .card__price {
          font-size: 18px;
        }
      }

    }
  }

  // .catalog__item

  &__item {}
}

.catalog {

  // .catalog__not-found

  &__not-found {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 100px 0;


    @media (max-width: $breakpoint768) {
      padding: 60px 0;
      row-gap: 40px;
    }
  }

  // .catalog__not-found-title

  &__not-found-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    color: var(--black-color);


    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .catalog__not-found-links

  &__not-found-links {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: fit-content;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);

    img {
      min-width: -2px;
    }
  }
}