.check-out {

  .registration__btn {
    min-height: 54px;
  }

  a.registration__text {
    text-decoration: underline;
    ;
  }

  // .check-out__inner

  &__inner {
    display: flex;
    column-gap: 110px;

    @media (max-width: 1200px) {
      column-gap: 40px;
    }

    @media (max-width: $breakpoint992) {
      flex-direction: column;
    }
  }

  // .check-out__title

  &__title {
    display: none;

    @media (max-width: $breakpoint992) {
      display: block;
      margin-bottom: 30px;
      text-align: right;
      font-weight: 500;
      font-size: 26px;
      line-height: 100%;
      text-transform: uppercase;
      color: var(--black-color);
    }
  }

  // .check-out__main

  &__main {
    flex: 1 1 auto;

    @media (max-width: 600px) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  // .check-out__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  // .check-out__row

  &__row {
    border: 1px solid rgba(194, 198, 199, 0.3);

    &.active {
      .check-out__head-btn {
        transform: rotate(0);
      }

      .check-out__content {
        padding: 40px 20px 20px;
        max-height: 1000px;
      }
    }

    &--gift {
      &.active {
        .check-out__content {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

  }

  // .check-out__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px;
    cursor: pointer;

    img {
      opacity: 0.5;
    }
  }

  // .check-out__head-text

  &__head-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);
  }

  // .check-out__head-btn
  &__head-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 0;
    outline: 0;
    background-color: transparent;
    transform: rotate(-90deg);
    transition: transform 0.2s linear;
  }

  // .check-out__content

  &__content {
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 30px;
    padding: 40px 20px 20px;

    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s linear;

    @media (max-width: 1200px) {
      grid-template-columns: 180px 1fr;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }

  // .check-out__labels

  &__labels {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @media (max-width: $breakpoint768) {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 10px;
      row-gap: 20px;
      flex-wrap: wrap;
    }
  }

  // .check-out__label

  &__label {
    cursor: pointer;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--grey-color);
    transition: 0.2s linear;

    &.active {
      font-weight: 500;
      color: var(--text-color);
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      z-index: -100;
      opacity: 0;
    }

    &:has(>input:checked) {
      font-weight: 500;
      color: var(--text-color);
    }

    // @media (max-width: $breakpoint768) {
    //   font-size: 14px;
    // }
  }

  // .check-out__form

  &__form {}


  // .check-out__content--gifts
  &__content--gifts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .check-out__block

  &__block {
    width: calc(100% + 40px);
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 30px;
    padding: 40px 20px 20px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: var(--white-color);
    transition: background-color 0.2s linear;
    cursor: pointer;

    &.active {
      background-color: var(--text-color);

      .check-out__block-descr,
      .check-out__block-label,
      .check-out__block-text,
      .check-out__block-sum {
        color: var(--white-color);
      }
    }

    @media (max-width: 1200px) {
      grid-template-columns: 180px 1fr;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: 1fr;
      row-gap: 30px;
      padding-top: 20px;
    }
  }

  // .check-out__block-left

  &__block-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;

    @media (max-width: $breakpoint768) {
      flex-direction: row;
      column-gap: 20px;
    }
  }

  // .check-out__block-sum

  &__block-sum {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: var(--text-color);

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .check-out__block-text

  &__block-text {
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);
  }

  // .check-out__block-right

  &__block-right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .check-out__block-text {
      font-weight: 300;
    }


  }

  // .check-out__block-label

  &__block-label {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);
  }

  // .check-out__block-rows

  &__block-rows {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .check-out__block-row

  &__block-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  // .check-out__block-text--bold

  &__block-text--bold {
    margin-left: auto;
    font-weight: 500 !important;
  }

  // .check-out__block-descr

  &__block-descr {
    margin-top: 40px;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 12px;
    line-height: 125%;
    color: var(--text-color);
  }

  // .check-out__row--disabled

  &__row--disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.1;
  }

  // .check-out__aside

  &__aside {
    flex: 0 0 390px;
    position: sticky;
    top: 20px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
    background-color: var(--white-color);
    border: 1px solid rgba(194, 198, 199, 0.3);

    @media (max-width: 1200px) {
      flex: 0 0 340px;
    }

    @media (max-width: $breakpoint992) {
      flex: 0 0 240px;

      .basket__title {
        display: none;
      }
    }
  }


  .registration__label {
    font-size: 14px;
  }

  .registration__text {
    font-family: var(--second-family);

    @media (max-width: 600px) {
      color: #000;
    }
  }

  .check-out__aside {
    @media (max-width: 600px) {
      display: flex;
      flex: 0 1 auto;
      margin-top: 30px;
      margin-left: -10px;
      margin-right: -10px;
      border-top: 0;
    }
  }

}

// .registration__map

.registration__map {
  background-color: var(--grey-color);
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration {

  // .registration__magazines

  &__magazines {
    display: flex;
    flex-direction: column;
  }

  // .registration__magazine

  &__magazine {
    border-bottom: 1px solid rgba(194, 198, 199, 0.302);
  }

  // .registration__magazine-input

  &__magazine-input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -100;
    opacity: 0;

    &:checked~.registration__magazine-label {
      background-color: var(--text-color);
      color: var(--white-color);
    }
  }

  // .registration__magazine-label

  &__magazine-label {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: var(--white-color);
    font-family: var(--font-family);
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s linear;
  }

  // .registration__magazine-address

  &__magazine-address {
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }

  // .registration__magazine-time

  &__magazine-time {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
  }

  // .registration__magazine-columns

  &__magazine-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
    row-gap: 24px;
  }

  // .registration__magazine-column

  &__magazine-column {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
  }
}

.radio-form-content {
  display: none;

  animation: fade 0.3s linear;

  &.active {
    display: block;
  }
}