.full-menu {
  position: absolute;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: calc(100vh - 16px);
  padding: 64px 0 20px 44px;
  background-color: var(--white-color);
  transition: 0.4s linear;
  z-index: 4;

  &.active {
    left: 0;
  }

  @media (max-width: $breakpoint992) {
    left: -100%;
    padding-left: 10px;
    width: 100%;
    transition: 0.3s linear;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media (max-width: $breakpoint768) {
    padding-top: 10px;
  }


  @media (max-width: 1200px) {
    height: calc(520px + 132px);
  }

  @media (max-width: $breakpoint992) {
    height: 100vh;
  }

  @media (max-width: $breakpoint580) {
    left: -100%;
  }

  // .full-menu__top

  &__top {
    align-self: baseline;
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 56px;
    width: 432px;

    @media (max-width: $breakpoint992) {
      width: 270px;
      column-gap: 24px;
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: row;
      width: 100%;
      padding: 0 0;
      column-gap: 10px;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    z-index: 5;
    cursor: pointer;
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        background-color: var(--black-color);

        svg path {
          stroke: var(--white-color);
        }
      }
    }

    @media (max-width: $breakpoint768) {
      margin-left: 0;
      margin-top: 0;
    }
  }

  // .full-menu__logo

  &__logo {}

  // .full-menu__logo-img

  &__logo-img {
    margin-bottom: -2px;

    @media (max-width: $breakpoint768) {
      width: 80%;
    }
  }

  &__border {
    margin-left: 8px;
    margin-bottom: 24px;
    height: 1px;
    width: 124px;
    background-color: rgba(194, 198, 199, 0.3);
  }

  // .full-menu__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 250px;
    height: 100%;
    padding-left: 70px;

    @media (max-width: $breakpoint992) {
      row-gap: 40px;
      width: 100%;
      padding-left: 54px;
      padding-top: 56px;
      padding-right: 100px;
    }

    @media (max-width: $breakpoint768) {
      padding-left: 34px;
    }
  }

  // .full-menu__row

  &__row {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      margin-top: auto;
    }
  }

  // .full-menu__item

  &__item {}

  // .full-menu__link

  &__link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 8px 8px 8px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);

    @media (hover:hover) {
      &:hover {
        font-weight: bold;
      }

    }
  }

  // .full-menu__sublist

  &__sublist {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    user-select: none;
    pointer-events: none;
    transition: 0.2s linear;
    padding: 154px 0 88px;
    border-left: 1px solid transparent;
    background-color: var(--white-color);

    &.active {
      right: -300px;
      // max-width: 300px;
      width: 300px;
      transform: translateX(0);
      opacity: 1;
      user-select: auto;
      pointer-events: visible;
      border-left: 1px solid rgba(194, 198, 199, 0.3);
      overflow: visible;
    }


    @media (max-width: $breakpoint992) {
      // position: static;
      // width: 100%;
      // height: fit-content;
      // padding: 0;
      // transform: translateX(0);
      // opacity: 1;
      // user-select: auto;
      // pointer-events: visible;
      // border: 0;
      // border-top: 1px solid rgba(194, 198, 199, 0.3);

      transition: 0.3s linear;
      right: -100%;
      padding-top: 164px;
      padding-left: 32px;
      padding-right: 60px;
      background-color: var(--white-color);

      &.active {
        right: auto;
        left: 0;
        width: 100%;

        z-index: 1;
      }

      br {
        display: none;

      }
    }
  }

  // .full-menu__subitem

  &__subitem {
    width: 100%;

    .full-menu__btn {
      padding: 10px 40px;

      @media (max-width: $breakpoint992) {
        padding: 10px;
      }
    }
  }

  // .full-menu__sublink

  &__sublink {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 8px 40px;
    white-space: nowrap;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);

    @media (hover:hover) {
      &:hover {
        font-weight: bold;
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 10px 8px;
    }

  }

  // .full-menu__sublink--more

  &__sublink--more {

    img {
      align-self: start;
      transform: rotate(180deg);
    }

  }

  // .full-menu__socials

  &__socials {
    margin-top: 60px;

    @media (max-width: $breakpoint992) {
      padding-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      margin-top: 0;
    }
  }
}

.full-menu__btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 8px 8px 8px;
  width: 100%;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  outline: 0;
  // transition: 0.1s linear;

  @media (max-width: $breakpoint992) {
    padding: 10px 8px;

    &:has(~.full-menu__sublist.active) {
      position: relative;
      z-index: 2;
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding: 10px 0;


      .full-menu__btn-arrow {
        transform: rotate(180deg);
        margin-left: 0;
      }
    }
  }

  &~.full-menu__link {
    display: none;

    @media (max-width: $breakpoint992) {
      display: flex;
    }
  }

  @media (hover:hover) {
    &:hover {
      font-weight: bold;
    }

    .full-menu__sublist.active {
      right: -100%;
      width: 100%;
      transform: translateX(0);
      opacity: 1;
      user-select: auto;
      pointer-events: visible;
      border-left: 1px solid rgba(194, 198, 199, 0.3);
    }
  }

}

@media (max-width: $breakpoint992) {
  .full-menu__item {
    &.active {
      &>.full-menu__btn {
        position: absolute;
        top: -40px;
        left: 0;
        z-index: 3;
        margin-top: 164px;
        margin-left: 32px;
        margin-right: 60px;
        flex-direction: row-reverse;
        justify-content: flex-end;
        // padding: 10px 0;
        animation: leftTo 0.3s linear both;


        .full-menu__btn-arrow {
          transform: rotate(180deg);
          margin-left: 0;
        }
      }

      &>.full-menu__sublist {
        right: auto;
        left: 0;
        width: 100%;
        z-index: 2;
        transform: translateX(0);
        opacity: 1;
        user-select: auto;
        pointer-events: visible;
        border-left: 1px solid rgba(194, 198, 199, 0.3);
        overflow: visible;
      }
    }

  }

  .full-menu__subitem {
    &.active {
      &>.full-menu__btn {
        position: absolute;
        top: -40px;
        left: 0;
        z-index: 3;
        margin-top: 164px;
        margin-left: 32px;
        margin-right: 60px;
        flex-direction: row-reverse;
        justify-content: flex-end;
        // padding: 10px 0;
        animation: leftTo 0.3s linear both;

        .full-menu__btn-arrow {
          transform: rotate(180deg);
          margin-left: 0;
        }
      }

      &>.full-menu__sublist {
        right: auto;
        left: 0;
        width: 100%;
        z-index: 2;
        transform: translateX(0);
        opacity: 1;
        user-select: auto;
        pointer-events: visible;
        border-left: 1px solid rgba(194, 198, 199, 0.3);
        overflow: visible;
      }
    }

  }
}

.full-menu__item.active:has(.full-menu__subitem.active)>.full-menu__btn {
  opacity: 0;
  z-index: 2;
}

@keyframes leftTo {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}