.full-menu {
  position: absolute;
  top: 0;
  left: -50%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: calc(800px + 132px);
  padding: 88px 0 20px 44px;
  background-color: var(--white-color);
  transition: 0.4s linear;
  z-index: 4;

  &.active {
    left: 0;
  }

  @media (max-width: $breakpoint992) {
    left: -100%;
    padding-left: 10px;
    width: 100%;
    transition: 0.3s linear;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media (max-width: $breakpoint768) {
    padding-top: 20px;
  }


  @media (max-width: 1200px) {
    height: calc(520px + 132px);
  }

  @media (max-width: $breakpoint992) {
    height: 100vh;
  }

  @media (max-width: $breakpoint580) {
    left: -100%;
  }

  // .full-menu__top

  &__top {
    align-self: baseline;
    display: flex;
    align-items: center;
    column-gap: 64px;
    margin-bottom: 50px;
    width: 432px;

    @media (max-width: $breakpoint992) {
      width: 270px;
      column-gap: 24px;
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: row;
      width: 100%;
      padding: 0 0;
      column-gap: 10px;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 20px;
    width: 30px;
    z-index: 2;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: var(--white-color);
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: var(--white-color);
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: var(--white-color);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: var(--white-color);
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &::before,
    &::after {
      width: 80%;
      background: var(--text-color) !important;
    }

    @media (max-width: $breakpoint768) {
      margin-left: 0;
      margin-top: 0;
    }
  }

  // .full-menu__logo

  &__logo {}

  // .full-menu__logo-img

  &__logo-img {

    @media (max-width: $breakpoint768) {
      width: 80%;
    }
  }

  &__border {
    margin-left: 8px;
    margin-bottom: 24px;
    height: 1px;
    width: 124px;
    background-color: rgba(194, 198, 199, 0.3);
  }

  // .full-menu__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 432px;
    height: 100%;
    padding-left: 84px;

    @media (max-width: $breakpoint992) {
      row-gap: 40px;
      width: 100%;
      padding-left: 44px;
    }

    @media (max-width: $breakpoint768) {
      padding-left: 10px;
    }
  }

  // .full-menu__row

  &__row {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      margin-top: auto;
    }
  }

  // .full-menu__item

  &__item {}

  // .full-menu__link

  &__link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 48px 8px 8px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);

    @media (hover:hover) {
      &:hover {
        font-weight: bold;
      }

    }

    @media (max-width: $breakpoint992) {
      font-weight: bold;
    }
  }

  // .full-menu__sublist

  &__sublist {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    user-select: none;
    pointer-events: none;
    transition: 0.2s linear;
    padding: 88px 0;
    border-left: 1px solid transparent;
    background-color: var(--white-color);

    @media (hover:hover) {
      &.active {
        right: -100%;
        width: 100%;
        transform: translateX(0);
        opacity: 1;
        user-select: auto;
        pointer-events: visible;
        border-left: 1px solid rgba(194, 198, 199, 0.3);
      }
    }

    @media (max-width: $breakpoint992) {
      position: static;
      width: 100%;
      height: fit-content;
      padding: 10px 0 10px 10px;
      transform: translateX(0);
      opacity: 1;
      user-select: auto;
      pointer-events: visible;
      border: 0;
      border-top: 1px solid rgba(194, 198, 199, 0.3);
    }
  }

  // .full-menu__subitem

  &__subitem {
    width: 100%;
  }

  // .full-menu__sublink

  &__sublink {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 8px 88px;
    white-space: nowrap;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);

    @media (hover:hover) {
      &:hover {
        font-weight: bold;
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 4px 8px;
    }

  }

  // .full-menu__sublink--more

  &__sublink--more {

    img {
      align-self: start;
      transform: rotate(180deg);
    }

  }

  // .full-menu__socials

  &__socials {
    margin-top: 60px;

    @media (max-width: $breakpoint992) {
      padding-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      margin-top: 0;
    }
  }
}

.full-menu__btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 48px 8px 8px;
  width: 100%;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  outline: 0;

  @media (max-width: $breakpoint992) {
    display: none;
  }

  &~.full-menu__link {
    display: none;

    @media (max-width: $breakpoint992) {
      display: flex;
    }
  }

  @media (hover:hover) {
    &:hover {
      font-weight: bold;
      // background-color: var(--text-color);
      // color: var(--white-color);
    }

    .full-menu__sublist.active {
      right: -100%;
      width: 100%;
      transform: translateX(0);
      opacity: 1;
      user-select: auto;
      pointer-events: visible;
      border-left: 1px solid rgba(194, 198, 199, 0.3);
    }
  }

  @media (max-width: $breakpoint992) {
    font-weight: bold;
  }
}