// Header

.header {

  .container {
    max-width: 100%;
    padding: 0;
  }

  // .header__inner

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s linear, flex-direction 0.3s linear, justify-content 0.3s linear, top 0.3s linear;

    @media (max-width: $breakpoint768) {
      flex-direction: row-reverse;
      width: 100%;
      padding: 10px 10px 10px;
      // background-color: var(--text-color);
      column-gap: 20px;
      justify-content: space-between;
    }
  }

  // .header__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    background-color: var(--white-color);
    padding: 10px 40px;

    @media (max-width: $breakpoint992) {
      padding: 10px 10px;
    }

    @media (max-width: $breakpoint768) {
      // background-color: var(--text-color);
      padding: 0;
    }
  }

  // .header__actions

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    margin-left: auto;
  }

  // .header__action

  &__action {
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 100%;
    background-color: transparent;
    transition: 0.2s linear;

    @media (hover:hover) {

      &:hover {
        background-color: var(--black-color);

        img {
          filter: invert(1);
        }

        svg {
          fill: var(--white-color);
        }

      }

    }

    @media (max-width: $breakpoint768) {
      // filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(109deg) brightness(103%) contrast(101%);
      background-color: transparent;

      &--search {
        display: none;
      }
    }
  }

  // .header__action-img

  &__action-img {
    @media (max-width: $breakpoint768) {
      filter: brightness(0) saturate(100%) invert(3%) sepia(5%) saturate(5681%) hue-rotate(66deg) brightness(107%) contrast(89%);
    }
  }

  // .header__bottom

  &__bottom {
    display: flex;
    align-items: center;
    column-gap: 30px;
    background-color: var(--text-color);
    padding: 16px 40px;

    @media (max-width: $breakpoint992) {
      padding: 16px 10px;
      column-gap: 24px;
    }

    @media (max-width: $breakpoint768) {
      column-gap: 10px;
      padding: 0;
      // margin-left: auto;
      flex-direction: row-reverse;
      background-color: var(--white-color);
    }
  }
}





.logo {
  @media (max-width: $breakpoint768) {
    display: none;
  }
}

.logo__mobile {
  display: none;

  @media (max-width: $breakpoint768) {
    display: block;
  }
}


// .burger
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s linear;

  @media (hover:hover) {
    &:hover {
      background-color: var(--white-color);

      svg line {
        stroke: var(--black-color);
      }
    }
  }

  @media (max-width: $breakpoint768) {
    svg line {
      stroke: var(--black-color);
    }
  }

}

@media (max-width: $breakpoint768) {
  .burger {}
}

.nav {


  @media (max-width: $breakpoint768) {
    display: none;
  }

  // .nav__menu

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @media (max-width: $breakpoint992) {
      column-gap: 24px;
    }
  }

  // .nav__item

  &__item {}

  // .nav__link

  &__link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--white-color);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      height: 1px;
      background: var(--white-color);
      transition: left .8s;
    }

    @media (hover:hover) {
      &:hover:after {
        left: 0;
      }
    }

  }
}


.header-small {

  .full-menu {
    padding-top: 24px;

    @media (max-width: $breakpoint768) {
      padding-top: 10px;
    }
  }

  .header__top {
    @media (max-width: $breakpoint768) {
      width: 100%;
      column-gap: 10px;
      flex-direction: row-reverse;
      justify-content: space-between !important;

      .logo {
        display: none;
      }

      .header__burger-second {}
    }
  }

  .logo {
    margin: 0;
    margin-left: auto;
    margin-right: -40px;

    @media (max-width: $breakpoint768) {
      margin: 0;
      margin-left: 20px;
      display: block;
      order: 2;

      img {
        max-width: 100%;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7461%) hue-rotate(286deg) brightness(107%) contrast(112%);
      }
    }
  }

  .header__actions {
    @media (max-width: $breakpoint768) {
      order: 1;
      margin-left: 0;
    }
  }
}

.header__burger-second {
  display: flex;
  align-items: center;
  column-gap: 14px;

  font-size: 16px;
  line-height: 100%;
  color: var(--text-color);


  @media (max-width: $breakpoint768) {
    &>span {
      display: none;
    }

    order: 3;
  }
}

.logo-img--mini {
  display: none;
}

.main__body.locked .header.header-fixed {
  .header__inner {
    left: calc(50% - 9px);

    @media (max-width: 1920px) {
      left: calc(50% - 2px);
    }

    @media (max-width: $breakpoint992) {
      left: 50%;
    }
  }

}

.header.header-fixed {
  height: 132px;
  transition: height 0.3s linear;

  @media (max-width: $breakpoint768) {
    height: 72px;
  }

  .header__inner {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    flex-direction: row-reverse;
    justify-content: center;
    max-width: 1842px;
    width: 100%;
    background-color: var(--white-color);


    transition: width 0.3s linear, flex-direction 0.3s linear, justify-content 0.3s linear, top 0.3s linear;

    @media (max-width: $breakpoint768) {
      flex-direction: row-reverse;
      // background-color: var(--text-color);
    }
  }

  .logo-img {
    display: none;

    @media (max-width: $breakpoint768) {
      display: block;
    }
  }

  .logo-img--mini {
    display: block;

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  .full-menu {
    height: 100dvh;
    min-height: 520px;
    padding: 32px 42px;

    @media (max-width: $breakpoint992) {
      padding: 30px 0 20px 10px;
    }

    @media (max-width: $breakpoint768) {
      padding: 10px 0 20px 10px;
    }
  }

  .header__bottom {
    background-color: var(--white-color);

    @media (max-width: $breakpoint768) {
      // background-color: var(--text-color);
    }
  }

  .header__top {
    width: 100%;
    transition: width 0.3s linear;

    @media (max-width: $breakpoint768) {
      justify-content: flex-end;
    }
  }

  .logo {
    margin-left: auto;

    transition: margin 0.3s linear;

    @media (max-width: $breakpoint768) {
      margin-left: 0;
    }
  }

  .header__actions {
    @media (max-width: $breakpoint768) {
      margin-left: 0;
    }
  }

  .burger {
    svg line {
      stroke: var(--black-color);
    }

    @media (hover:hover) {
      &:hover {
        background-color: var(--black-color);

        svg line {
          stroke: var(--white-color);
        }
      }
    }
  }

  .nav {
    display: none;
  }
}

.header.header-small.header-fixed {
  height: 72px;
}

.header__action--search {
  overflow: visible;
  cursor: pointer;

  .header__action-img {}

  &.active {
    background-color: var(--black-color);

    .header__action-img {
      filter: invert(1)
    }

    .header__action-input {
      left: -290px;
      width: 320px;
      padding: 0 36px 0 12px;
      opacity: 1;
      user-select: auto;
      pointer-events: visible;
    }

  }
}

.header__action-input {
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 32px;
  opacity: 0;
  outline: 0;
  border: 1px solid #000;
  border-radius: 32px;
  background-color: transparent;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #000;

  user-select: none;
  pointer-events: none;
  transition: 0.2s linear;
}

.logo-img {
  width: 194px;
  height: auto;
  margin-top: 4px;
}

.header-small .logo-img {
  margin-top: 0;
  width: auto;
}

.header__search-list {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -290px;
  width: 320px;
  max-height: 0;
  height: fit-content;
  border-radius: 16px 16px 0 0;

  overflow-y: auto;
  background-color: var(--white-color);
  transition: 0.4s linear;

  &.active {
    max-height: 600px;
    padding: 50px 0 10px 0;
  }
}

.header__search-wrapper {
  position: relative;
  z-index: 2;

  @media (max-width: $breakpoint768) {
    display: none;
  }
}

.header__search-item {}

.header__search-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 5px 20px;

  @media (hover:hover) {
    &:hover {
      background-color: var(--text-color);

      .header__search-text {
        color: var(--white-color);
      }
    }
  }
}

.header__search-text {}

.header__search-opacity {
  color: #c2c6c7;
}

.bag__white {
  display: none;
  animation: fade 0.3s linear;
}

.header__action:hover .bag__white {
  display: block;
}

.header__action:hover .bag__white~svg {
  display: none;
  animation: fade 0.3s linear;
}

.header-small {
  .burger {
    svg line {
      stroke: var(--black-color);
    }

    @media (hover:hover) {
      &:hover {
        background-color: var(--black-color);

        svg line {
          stroke: var(--white-color);
        }
      }
    }
  }
}