.hvr__images {
  position: relative;
}

.hvr__sectors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.hvr__sector {
  flex-grow: 1;
}

.pictures-slider {
  display: flex;
  overflow: hidden;
}

.picture-slide {
  display: block;
  animation: fade 0.1s linear;
}

.hvr__dots {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  opacity: 0;
}

.hvr__dot {
  width: 5px;
  height: 5px;
  margin: 10px 2px 0;
  border-radius: 50%;
  background: #d6dbe0;
}

.hvr__dot--active {
  background: #000;
}