.registration {

  @media (max-width: $breakpoint768) {
    margin: 0;
    padding: 80px 0;
  }

  // .registration__inner

  &__inner {
    max-width: 390px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  // .registration__row

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  // .registration__label

  &__label {
    border: 0;
    outline: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);
  }

  // .registration__input-wrapper

  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &--column-2 {
      flex-direction: row;
      column-gap: 10px;
    }

    &--triple {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
    }
  }

  // .registration__input

  &__input {
    width: 100%;
    padding: 10px 0 10px 0;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--grey-color);

    font-family: var(--second-family);
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: var(--text-color);
    transition: border 0.2s linear;

    &[type="password"] {
      padding: 10px 20px 10px 0;
    }

    &.error {
      border-color: rgba(255, 0, 0, 0.3);

      &:active {
        border-color: rgba(255, 0, 0, 0.3);
      }

      @media (hover:hover) {
        &:hover {
          border-color: rgba(255, 0, 0, 0.3);
        }
      }
    }

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 12px;
      line-height: 100%;
      color: var(--text-color);
      opacity: 0.3;
    }

    &:active {
      border-color: var(--black-color);
    }

    @media (hover:hover) {
      &:hover {
        border-color: var(--black-color);
      }
    }

    &--textarea {
      resize: none;
      height: 98px;
    }
  }

  // .registration__text

  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    color: var(--text-color);
  }

  // .registration__text--grey

  &__text--grey {
    color: var(--grey-color);
  }

  // .registration__btn

  &__btn {
    min-height: 50px;
  }

  // .registration__dates

  &__dates {}

  // .registration__dates-label

  &__dates-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 8px;
  }

  // .registration__dates-list

  &__dates-list {
    display: grid;
    grid-template-columns: 74px 1fr 1fr;
    column-gap: 10px;
  }

  // .registration__attantion

  &__attantion {
    background-color: rgba(255, 0, 0, 0.05);
    border: 1px solid rgba(255, 0, 0, 0.3);
    padding: 20px;
  }

  // .registration__row-head 

  &__row-head {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 20px;

    &--not-mb {
      margin-bottom: 0;
    }


    .registration__label {
      margin-right: auto;
    }
  }

  // .registration__remove 

  &__remove {
    background-color: transparent;
    border: 0;
    outline: 0;
    margin-top: 60px;
  }


  // .registration__edit

  &__edit {
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.3;
    margin-top: -5px;

    @media (hover:hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}

.registration__input-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 0;
  outline: 0;
  transition: 0.2s linear;
}

.registration__input-eye-icon {}

.registration__back {
  display: none;

  @media (max-width: $breakpoint768) {
    display: flex;
    margin-top: -4px;
  }
}

.registration {

  // .registration__checkboxes

  &__checkboxes {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 24px;
    }
  }

  // .registration__checkbox

  &__checkbox {}

  // .registration__checkbox-input

  &__checkbox-input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -100;
    opacity: 0;

    &.error~.registration__checkbox-label {

      .registration__checkbox-decor {
        border-color: red;
        background-color: white;
      }
    }

    &:checked~.registration__checkbox-label {

      .registration__checkbox-decor {
        border-color: var(--black-color);
        background-color: var(--black-color);
      }
    }
  }

  // .registration__checkbox-label

  &__checkbox-label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
  }

  // .registration__checkbox-decor

  &__checkbox-decor {
    border: 1px solid rgba(17, 24, 16, 0.3);
    width: 12px;
    height: 12px;
  }

  // .registration__checkbox-text

  &__checkbox-text {}
}

.registration__password-empty {
  text-align: center;
}


.registration {

  // .registration__bottom

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  // .registration__bottom-or

  &__bottom-or {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
  }

  // .registration__bottom-or-border

  &__bottom-or-border {
    flex: 1 1 auto;
    height: 1px;
    width: 100%;
    background-color: var(--grey-color);
  }

  // .registration__bottom-or-text

  &__bottom-or-text {}

  // .registration__bottom-socials

  &__bottom-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
  }

  // .registration__bottom-social

  &__bottom-social {}

  // .registration__bottom-contacts

  &__bottom-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  // .registration__bottom-contact

  &__bottom-contact {}
}